<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<div class="row">
<div id="container" ></div>
<div id="container2" ></div>
<script>
$(function () { 
    var xAxis = [];
    var data = [];
    {% for playLength in playLengthBuckets %}
        xAxis.push("{{playLength.0}}");
        data.push({{playLength.1}});
    {% endfor %}
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        tooltip: {
            valueSuffix: ' people'
        },
        title: {
            text: 'Play times'
        },
        xAxis: {
            categories: xAxis
        },
        yAxis: {
            title: {
                text: 'People'
            },
            allowDecimals : false,
        },
        series: [{
            name: 'Players',
            data: data
        }]
    });
});
        
        
$(function () {
    var xAxis = [];
    var data = [];
    {% for dayActivity in dayActivities %}
        xAxis.push("{{dayActivity.0}}");
        data.push({{dayActivity.1}});
    {% endfor %}
    $('#container2').highcharts({
        title: {
            text:'Players per day',
            x: -20 //center
        },
        xAxis: {
            categories: xAxis
        },
        yAxis: {
            title: {
                text: 'People'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' people'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Players',
            data: data
        }]
    });
});
</script>
<div align="center" class="col-md-offset-3 col-md-6">
<h2>Highscores</h2>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for topScore in topScores %}
    <tr>
        <td>{{ forloop.counter }}.</td>
        <td>{{ topScore.0 }}</td>
        <td>{{ topScore.1 }}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
</div>